/*Changes the height of logo in navbar*/
#studio-logo {
  height: 60px;
}

/*Changes the size of the icons in navbar*/
.nav-images {
  height: 20px;
}

/*Centers the words in the header image*/
#welcome {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Changes the sizes of the icons in footer*/
.footer-images {
  height: 20px;
}